@import "tailwindcss";

:root {
  --primary: oklch(58% 0.233 277.117);
  --secondary: oklch(96% 0.018 272.314);
  --accent: oklch(25.33% 0.016 252.42);
  --error: oklch(62% 0.25 29);
  --success: oklch(62% 0.25 145);
  --warning: oklch(75% 0.20 85);
  --info: oklch(65% 0.20 250);
    
}

@theme inline {
    --font-urbanist: var(--font-urbanist);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-error: var(--error);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-info: var(--info);
    
    --max-w-desktop: 1450px;

}


@layer utilities {
 
  /* .max-w-desktop {
    max-width: var(--max-w-desktop);
  } */

}


@layer base {


}

@layer components {

  .flex-center {
    @apply flex items-center justify-center;
  }
   /* .line-bar {
    @apply w-10 h-10 md:w-12 md:h-12 flex items-center justify-center;
  } */
}

